<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/menuAndHeader.css">
    <link rel="shortcut icon" href="img/analytics.png" type="image/x-icon">
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    <script src="https://player.twitch.tv/js/embed/v1.js"></script>
    <title>Streaming</title>
</head>
<body>
   <!--Inicio da cabeçalho-->

        <nav>
            <div class="logo-site">
                <a href="http://localhost:4001">
                    <img src="../img/analytics.png" alt="">
                </a>
                <span>Streaming</span>
               
            </div>
            <div class="input-wrapper">
                <div>
                    <input type="text" autocomplete="on" id="ValueInput" maxlength="50" placeholder="Buscar Streamer">
                    <button id="BtnSearch">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </button>
                </div>
                <ul class="TaskList" id="conteinerStreamers">
                    <!--List Streamers historic-->
                    
                </ul>
            </div> 

        </nav>
   
  <!--fim da cabeçalho-->
    <section class="section-fundo">

           <!--Inicio do menu-->
            <div class="menu-lateral" id="menu-lateral">
                    <div class="conteinerHeader">
                        <h3 id="TitleHeader">Para você</h3>
                        <div class="conteiner-img" id="conteiner-img" >
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"/>
                            </svg>
                        </div>
                    </div>

                    <div class="StreamersSeguidos">
                        <div class="headerSeguidos" id="headerSeguidos">
                            <span >Canais seguidos</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z"/>
                            </svg>
                        </div>
                        <!--Lista de Streaner seguidos-->
                        <ul class="ListDeStreamer" id="ListDeStreamer">
                           <!--Lista de Streamers ira permanecer aqui-->
                         
                        </ul>
                    </div>


                    <div class="recomendacoesStreamers">
                        <span id="HeaderRecomendacoes">Canais recomendados</span>
                        <ul class="ListRecomendacoes" id="ListRecomendacoes">
                            <% const streamerSet = new Set();
                            streamer.forEach(streamer => {
                              const { nome } = streamer;
                              let {nameGame} = streamer;
                              if (!streamerSet.has(nome)) {
                                streamerSet.add(nome);
                                let newNome = nameGame;
                                if(nameGame.length > 15){
                                    newNome = nameGame.substring(0, 15) + '...';
                                }
                            %>
                                <a href="<%=streamer.nome %>">
                                    <li id="Streamer"  className="<%= streamer.nome %>">
                                        <div class="conteinerAvatarStreamer">
                                            <img src="<%= streamer.picture %>" alt="avatar-streamers">
                                        </div>
                                        
                                        <div class="conteinerDescriStreamer">
                                            <span class="spanNameStreamer"><%= streamer.nome %></span>
                                            <span class="spanNameGameStreamer" id="NameGameStreamer">
                                                    <%= newNome %>
                                            </span>
                                        </div>
                                        
                                        <div class="conteinerDescriive">
                                            <div class="bolinhaLive"></div>
                                            <span class="numLive"><%= streamer.numEspectadore %></span>
                                        </div>
                                    </li>
                                </a>
                               
                            <% }
                            }) %>
                            
                        </ul>
                    </div>

                    <!--Este conteiner devera sumir se o usuario tiver algum streamer seguindo-->
                    <div class = "conteinerIfNotFallows" id="conteinerIfNotFallows">
                        <h2>Saiba mais sobre a Twitch em www.twitch.tv</h2>
                        <img src="../svg/appreciation-animate.svg">
                    </div>
            </div>
            <!--Fim  menu lateral-->

            <section class="displayStreamers">
               <div class="conteinerSlideShow">
                   <!-- Swiper -->
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper" id="swiper-wrapper">
                               
                        </div>
                        <div  class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <!--Conteiner de recomendações-->
              
                <div class="recomendacos">
                    <div class="titulo">
                        <h2><a href="">Categorias</a> que achamos que você possa gostar</h2>
                    </div> 
                
                    <div id="conteiner">
                        <% let setGames = new Set()%>
                        
                        <% for (let game of TopGames){ %>
                        <% let nome = game.nome %>
                        <% if(!setGames.has(nome)){%>
                            <% setGames.add(nome) %>
                
                            <div class="card">
                                <div class="imagem">
                                        <img src="<%= game.image %>" alt="game-image">
                                </div>
                        
                                <div class="descricao">
                                        <span><%= game.nome %></span>
                                        <span><%= game.views %> espectadores</span> 
                                </div>      
                            </div>
                        <% } %>
                        <%} %>
                    </div>
                </div>

                <!--Fim do conteiner de recomendações-->
                <div class="conteinerLivesAoVivo">
                    <h2><a href="">Canais ao vivo</a> que achamos que possa gostar</h2>
                    <div class="conteinerDeLives">

                        <%
                        let setStreamer = new Set();
                        streamer.slice(0,3).forEach((elemento) => {
                          let { nome } = elemento;
                          let {nameGame} = elemento;
                          let {title} = elemento;
                          if (!setStreamer.has(nome)) {
                            setStreamer.add(nome);
                            let newNome = nameGame;
                            let newTitle = title
                            let maxCaracter = 40
                            if(nameGame.length > maxCaracter){
                                newNome = nameGame.substring(0, maxCaracter) + '...';
                            }
                            if(title.length > maxCaracter){
                                newTitle = title.substring(0, maxCaracter) + '...';
                            }
                      %>
                      <div class="card">
                        <div class="card-img">
                            <img src="<%=elemento.thumbnail_url %>" alt="">
                        </div>
                        <div class="card-descri">
                            <div class="icon-Streamer">
                                <img src="<%=elemento.picture %>" alt="icon-streamer">
                            </div>
                            <div class="conteinerDescriStreamer">
                                <span class="TitleLive"><a href="#" style="text-decoration: none;"><%= newTitle  %></a></span>
                                <span class="name"><%=elemento.nome %></span>
                                <span class="nomeGame"><%=newNome%>.</span>
                            </div>
                    
                        </div>
                    </div>
                      <%
                          }
                        });
                      %>     
                        </div>
                </div>
            </section>
            
    </section>
    <script src="/js/animation.js"></script>
    <script src="/js/SearchStreamers.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script type="module" src="/js/slidesTwtch.js"></script>
</body>
</html>